*{ 
  text-align: center;
}

body{
  background-color: #031E30;
  background-image: url(https://cdn.glitch.me/36e20bcf-61a2-4445-a091-ddac5647997f%2FUntitled_Artwork.jpg?v=1633545488810);
  background-size: contain;
  right:0px; 
  bottom:0px; 
  z-index:2;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

h1{
  color: #C72800;
  font-size: 72px;
  font-family: sofachrome, sans-serif;
  font-weight: 500;
  font-style: italic;
}

p1{
  color: white;
  font-size: 22px;
  font-family: eurostile, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2{
  color: #C72800;
  font-size: 36px;
  font-family: sofachrome, sans-serif;
}

button {
  background-color: #C72800;
  color: white;
  border-color: white; 
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-family: eurostile, sans-serif;
  text-align: center;
  
}

p{
  color: #FFDD33;
  font-family: georgia;
}

footer{
  position: absolute; 
  bottom: 5vh;
  width: 100%;
  text-align: center;
}

