*{ 
  text-align: center;
}

h1 {
  color: rgb(217,121,80);
  font-family: 'Unica One';
  font-size: 100px;
  margin-bottom: 40px;
  line-height: 85px;
}

body {
  background-color: rgb(9,51,0);
  background-image: url('https://cdn.glitch.com/36e20bcf-61a2-4445-a091-ddac5647997f%2FIMG_0118.jpg?v=1632958164514');
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.button {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-decoration: none;
  background-color: #7B96B0;
  color: #FAEFD2;
  padding: 5px 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 6px;
  margin: 7px auto; 
  display: inline-block;
  min-width: 150px;
}

p{
  color: #7B96B0;
}

footer{
  position: absolute; 
  bottom: 5vh;
  width: 100%;
  text-align: center;
}

